<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <span class="heading pull-left">Contacts</span>
          <a class="btn btn-success pull-right">New Contact</a>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <ca-contact-item [contact]="contact" (click)="onSelected(contact)" *ngFor="let contact of contacts"></ca-contact-item>

          </ul>
        </div>
      </div>
    </div>

    </div>

  </div>

